lib/relaxng/lines.rng.xml

<rng:grammar
    xmlns:rng="http://relaxng.org/ns/structure/1.0"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema"
    xmlns:lines="https://mosher.mine.nu/xmlns/lines"
>
    <rng:start>
        <rng:ref name="lines-lines"/>
    </rng:start>

    <rng:define name="lines-lines">
        <rng:element name="lines:lines">
            <rng:zeroOrMore>
                <rng:ref name="lines-line"/>
            </rng:zeroOrMore>
        </rng:element>
    </rng:define>

    <rng:define name="lines-line">
        <rng:element name="lines:line">
            <rng:ref name="lines-seq"/>
            <rng:text/>
        </rng:element>
    </rng:define>

    <rng:define name="lines-seq">
        <rng:attribute name="lines:seq">
            <rng:data type="positiveInteger"/>
        </rng:attribute>
    </rng:define>
</rng:grammar>
